body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

$canvas-width: 800px;
$canvas-height: 800px;

#wrapper {
  height: 100vh;
  background-color: #EDECEC;
  &.playing {
    background-color: #404040;
    #title {
      color: white;
    }
    #crepe {
      display: none;
    }
    .play-button {
      display: none;
    }
    .redo-button {
      display: inline-block;
    }
    .world {
      display: none;
    }
    .mirrored-world {
      display: block;
    }
  }
}

#playground {
  width: $canvas-width;
  height: $canvas-height;
  margin-left: auto;
  margin-right: auto;
  background-size: $canvas-width;
  background-position: center;
  .world {
    width: $canvas-width;
    height: $canvas-height;
  }
  .mirrored-world .mirrored-canvas {
    width: $canvas-width;
    height: $canvas-height;
  }
}

#title {
  color: #404040;
  position: absolute;
  top: 50px;
  left: 50px;
}

#crepe {
  width: 100px;
  height: 125px;
  position: absolute;
  bottom: 100px;
  left: 80px;
  img {
    width: 100%;
  }
}

#buttons {
  position: absolute;
  bottom: 120px;
  right: 80px;
  .control-buttons {
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 20px;
    .button-overlay {
      width: 100px;
      border-radius: 4px;
      text-align: center;
      line-height: 7px;
      padding: 25px 0;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      color: #404040;
      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
  .play-button {
    background-color: #E4583E;
  }
  .redo-button {
    background-color: #EDECEC;
    display: none;
  }
}
